<div class="sharelock-footer">
    <div class="container">
        <div class="row">
            <div class="col-md-4 col-sm-6">
                <img class="img-responsive sheerlock-img" alt=" Brand" src="../images/logo_large.png">
                <h4 class="text-center">Sheerlockhomes</h4>
            </div>
            <div class="col-md-4 col-sm-6">
                <h5 class="text-center sheerlock-copyright-text">Copyright(C)2017</h5>
            </div>
            <div class="col-md-4 col-sm-6">
                <h4 class="text-center sheerlock-follow-text">Follow us on social media</h4>
                <div class="row sharelock-socials">
                  <a href="http://facebook.com"><img src="../images/facebookHover.png"/></a>
                  <a href="http://instagram.com"><img src="../images/instagramHover.png"/></a>
                  <a href="http://twitter.com"><img src="../images/twitterHover.png"/></a>
                </div>
            </div>
        </div>
    </div>
</div>
