<div class="aunty-div">
<% include ./partials/navbar %>
    <div class="container">
        <h1 class="text-center white_text" id="rent_text">"Rent-an-Auntie"</h1>
        <h3 class="text-center white_text">For the kids and the home</h3>
    </div>
</div>

<hr class="sheer-grey-hr">

<div class="friend-information-div">
    <div class="container">
          <div class="friends-middle-div">
              <h3>Who is an Auntie?</h3>
              <br/>
              <ul class="sheer-rent-ul">
                 <li>An Auntie is a woman preferrably between the ages of 21 and 40</li>
                 <li>An Auntie fills the gap when the house owners are not around to supervise the house and watch the kids</li>
                 <li>An Auntie accompanies children to school with or without a driver to prevent harm</li>
                 <li>An Auntie may also accompany the family to an outing to help the mum look after the children or help with a baby</li>
                 <li>An Auntie is NOT a house maid or house girl</li>
                 <li>An Auntie could accompany children to Cinemas’s, PTA meetings, swimming or places where the parents are too busy to go to</li>
                 <li>An Auntie could also be a helper of sorts to someone in hospital who just had a baby or someone that is ill</li>
              </ul>
          </div>
    </div>
    <a href="/employee_login" class="hire_button_friends" role="button">How It Works</a>
</div>
<div class="friend-div-works">
    <div class="container">
        <h2 class="text-center yellow_text">How It Works</h2>
        <br/>
        <br/>
        <br/>
        <div class="row">
            <div class="col-md-3 col-sm-6">
                <img src="images/plus.png" class="sheer-center">
                <br/>
                <h4 class="text-center">1. Pick an Aunty</h4>
            </div>
            <div class="col-md-3 col-sm-6">
                <img src="images/placeholder.png" class="sheer-center">
                <br/>
                <h4 class="text-center">2. Set Location, Date and Time</h4>
            </div>
            <div class="col-md-3 col-sm-6">
                <img src="images/checked.png" class="sheer-center">
                <br/>
                <h4 class="text-center">3. Friend Acknowledges and Accepts Request</h4>
            </div>
            <div class="col-md-3 col-sm-6">
                <img src="images/link.png" class="sheer-center">
                <br/>
                <h4 class="text-center">4. Meet Up Occures at Event</h4>
            </div>
        </div>
    </div>
</div>
<div class="container-fluid" id="friend-friend-div">
    <div class="row">
        <a href="/employees/1/type/Auntie"><div class="col-md-6 col-sm-6" id="friend-rent-div">
            <img src="images/hire.png" class="sheer-center">
            <h2 class="text-center white_text friend-friend-div-text">Rent an Auntie Today</h2>
        </div></a>
        <a href="em"><div class="col-md-6 col-sm-6" id="friend-join-div">
            <img src="images/join.png" class="sheer-center">
            <h2 class="text-center white_text friend-friend-div-text">Get Hired</h2>
        </div></a>
    </div>
</div>

<% include ./partials/footer %>
