<div class="friend-div">
<% include ./partials/navbar %>
    <div class="container">
        <h1 class="text-center white_text" id="rent_text">"Rent-a-Friend"</h1>
        <h3 class="text-center white_text">For a special occasion</h3>
    </div>
</div>
<hr class="sheer-grey-hr">

<div class="friend-information-div">
    <div class="container">
        <div class="friends-middle-div">
            <h3>Who is a Friend?</h3>
            <br/>
            <ul class="sheer-rent-ul">
               <li>A Friend is a tag along for an occasion or event (birthday, wedding, dinner, sports, drinks...)</li>
               <li>A Friend could act as a show around for people that are new to certain places</li>

               <li>A Friend is NOT an escort</li>
               <li>A Friend is a companion </li>
               <li>A Friend is for all ages</li>
            </ul>
        </div>
    </div>
</div>
<hr/>
<div class="friend-div-works">
    <div class="container">
        <h2 class="text-center yellow_text">How It Works</h2>
        <br/>
        <br/>
        <br/>
        <div class="row">
            <div class="col-md-3 col-sm-6">
                <img src="images/plus.png" class="sheer-center">
                <br/>
                <h4 class="text-center">1. Pick the Friend</h4>
            </div>
            <div class="col-md-3 col-sm-6">
                <img src="images/placeholder.png" class="sheer-center">
                <br/>
                <h4 class="text-center">2. Set Location, Date and Time</h4>
            </div>
            <div class="col-md-3 col-sm-6">
                <img src="images/checked.png" class="sheer-center">
                <br/>
                <h4 class="text-center">3. Friend Acknowledges and Accepts Request</h4>
            </div>
            <div class="col-md-3 col-sm-6">
                <img src="images/link.png" class="sheer-center">
                <br/>
                <h4 class="text-center">4. Meet Up Occures at Event</h4>
            </div>
        </div>
    </div>
</div>

<div class="container-fluid">
    <div class="row">
        <a href="/employees/1/type/Friend"><div class="col-md-6 col-sm-6" id="friend-rent-div">
            <img src="images/hire.png" class="sheer-center">
            <h2 class="text-center white_text friend-friend-div-text">Rent a Friend Today</h2>
        </div></a>
        <a href="/employee_login"><div class="col-md-6 col-sm-6" id="friend-join-div">
            <img src="images/join.png" class="sheer-center">
            <h2 class="text-center white_text friend-friend-div-text">Get Hired</h2>
        </div></a>
    </div>
</div>

<% include ./partials/footer %>
