<% include ./partials/navbar_two %>

<div class="login-div">
   <div class="container">
       <ul class="nav nav-tabs">
         <li class="active"><a href="/profile/employer">Profile</a></li>
         <li><a href="/account/employer">My Hires</a></li>
       </ul>
   </div>
</div>

<% include ./partials/footer_two %>
