<div class="login-div">
<% include ./partials/navbar %>
  <div class="container">
      <div class="row">
          <h4 class="text-center black_text">Thank You for subscribing to our newsletter</h4>
      </div>
  </div>
</div>

<% include ./partials/footer %>
